* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bgc_1: #2c3e50;
    --bgc_2: #1abc9c;
    --bgc_3: #3a546d;
    --text_c1: #fff;
}

/* Start of header */
header .h_bg {
    background-color: var(--bgc_1);
    color: var(--text_c1)
}

.h-left,
.h-right {
    height: 100%;
}

header .h-left h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
/* End of header */

/* Start of jumbotron */
#jumbotron .j_bgc {
    background-color: var(--bgc_2);
}
/* End of jumbotron */

/* Start of main */
/* Start of about section */
#about .a_bgc {
    background-color: var(--bgc_2);
}

#about h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--text_c1);
}
/* End of main */

/* Start of footer */
footer {
    color: var(--text_c1);
    text-align: center;
}

footer #location .f_bg1 {
    background-color: var(--bgc_3);
}

footer #location .icon_circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
}

footer #location .icon_circle i {
    line-height: 30px;
}

footer #location a {
    text-decoration: none;
    color: var(--bgc_2);
}

footer #copyright .f_bg2 {
    background-color: var(--bgc_1);
    text-align: center;
    font-size: 0.8rem;
}
/* End of footer */

/* Debug rules */
.d_bg {
    background-color: lightblue;
}

.my_border {
    border: 1px dashed black;
}

.box {
    background-color: lightcoral;
    height: 100px;
    border: 1px dashed black;
}