* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bgc_1: #2c3e50;
    --bgc_2: #1abc9c;
    --bgc_3: #3a546d;
    --text_c1: #fff;
}

/* General rules */
.d_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Start of header */
header .h_bg {
    background-color: var(--bgc_1);
    color: var(--text_c1);
    text-transform: uppercase;
}

header .h-left h1 {
    font-size: 1.1rem;
    margin-bottom: 0rem;
}

header .h-right .menu_container {
    color: grey;
    border: 1px solid grey;
    padding: 0.5rem;
}

header .h-right .menu_hidden_xs {
    display: none;
    font-size: 0.8rem;
    padding: 0.5rem;
}

/* .h-left,
.h-right {
    height: 100%;
}

header .h-left h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

header .h-left  {
    text-transform: uppercase;
    font-size: 1.1rem;
}

header .h-right span {
    display: none;
    font-size: 0.9rem;
} */

/* End of header */

/* Start of jumbotron */
#jumbotron .j_bgc {
    background-color: var(--bgc_2);
    color: var(--text_c1);
    text-transform: uppercase;
    text-align: center;
}

#jumbotron .j_bgc .avatar_container {
    width: 10rem;
    margin: auto;
}

#jumbotron .j_bgc .avatar_container .avatar_img {
    width: 100%;
}

#jumbotron .star_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotron .star_container div {
    display: inline-block;
}

#jumbotron .star_container div i {
    margin: 0px 5px;
}

#jumbotron .riga {
    height: 2px;
    background-color: var(--text_c1);
    width: 15%;
}
/* End of jumbotron */

/* Start of main */
/* Start of portfolio section */
#portfolio h1 {
    text-align: center;
    text-transform: uppercase;
}

#portfolio .star_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio .star_container div {
    display: inline-block;
}

#portfolio .star_container div i {
    margin: 0px 5px;
}

#portfolio .riga {
    height: 2px;
    background-color: #000;
    width: 25%;
}

#portfolio  img {
    width: 100%;
}

/* Start of about section */
#about {
    color: var(--text_c1);
}

#about .a_bgc {
    background-color: var(--bgc_2);
}

#about .container-fluid h1 {
    text-align: center;
    text-transform: uppercase;
}

#about .star_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .star_container div {
    display: inline-block;
}

#about .star_container div i {
    margin: 0px 5px;
}

#about .riga {
    height: 2px;
    background-color: #fff;
    width: 25%;
}

#about .my_btn {
    display: block;
    margin: auto;
    color: var(--text_c1);
    background-color: var(--bgc_2);
    border: 1px solid var(--text_c1);
}

#about .my_btn i {
    display: inline-block;
}

/* Start of contact section */
#contact .container-fluid h1 {
    text-align: center;
    text-transform: uppercase;
}

#contact .star_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .star_container div {
    display: inline-block;
}

#contact .star_container div i {
    margin: 0px 5px;
}

#contact .riga {
    height: 2px;
    background-color: #000;
    width: 25%;
}

#contact input,
#contact textarea {
    border-style: none;
    width: 100%;
}

#contact .my_btn {
    color: var(--text_c1);
    background-color: var(--bgc_2);
    border-style: none;
}
/* End of main */

/* Start of footer */
footer {
    color: var(--text_c1);
    text-align: center;
}

footer #location .f_bg1 {
    background-color: var(--bgc_3);
}

footer #location .icon_circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
}

footer #location .icon_circle i {
    line-height: 30px;
}

footer #location a {
    text-decoration: none;
    color: var(--bgc_2);
}

footer #copyright .f_bg2 {
    background-color: var(--bgc_1);
    text-align: center;
    font-size: 0.8rem;
}
/* End of footer */

/* Media queries */
@media screen and (min-width: 576px) {
    header .h-right .menu_hidden_xs {
        display: inline-block;
    }
    header .h-right .menu_container {
        display: none;
    }
}

/* Debug rules
.db_bg {
    background-color: lightblue;
    height: 50px;
}

.my_border {
    border: 1px dashed black;
}

.box {
    background-color: lightcoral;
    height: 100px;
    border: 1px dashed black;
}