* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* General rules */
:root {
    --bg_1: #2c3e50;
    --bg_2: #1abc9c;
    --c_1: #fff;
    --c_2: #000;
}

/* General rules for backbrounds */
#jumbotron,
#about,
#contact_me .my_btn {
    background-color: var(--bg_2);
}

/* General rules for star_container */
#jumbotron .my_line,
#portfolio .my_line,
#about .my_line,
#contact_me .my_line {
    height: 3px;
    width: 15%;
}

#jumbotron .my_line,
#about .my_line {
    background-color: var(--c_1);
}

#portfolio .my_line,
#contact_me .my_line {
    background-color: var(--c_2);
}

/* Start of header */
/* Start of navbar */
header .h_top {
    background-color: var(--bg_1);
}

header .h_top .h_right .icon_menu {
    border: 1px solid grey;
}

header .h_top .h_right ul {
    display: none;
}

/* Start of jumbotron */
#jumbotron img {
    width: 200px;
}
/* End of header */

/* Start of main */
/* Start of portfolio */
/* Start of about */
/* Start of contact_me */
#contact_me form input,
#contact_me form textarea {
    display: block;
    margin: 0.5rem 0rem;
}

#contact_me form input,
#contact_me form textarea,
#contact_me hr,
#contact_me .my_btn_container {
    width: 60%;
}

/* Start of media queries */
@media screen and (min-width: 768px) {
    header .h_top .h_right .icon_menu {
        display: none;
    }
    header .h_top .h_right ul {
        display: block;
        display: flex;
    }
    header .h_top .h_right ul li {
        padding: 0rem 0.5rem;
    }
}